<?xml version="1.0" encoding="utf-8"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemName>alipay</SystemName>
  <FriendlyName>支付宝</FriendlyName>
  <ClassFullName>Lxs.Plugin.Payments.Alipay.Models.PluginService,Lxs.Plugin.Payments.Alipay</ClassFullName>
  <Folder>Lxs.Plugin.Payments.Alipay</Folder>
  <Description>阿里巴巴旗下支付工具</Description>
  <Type>1</Type>
  <Author>lxs</Author>
  <Version>1.0</Version>
  <SupVersion>1.0.0</SupVersion>
  <DisplayOrder>3</DisplayOrder>
  <IsDefault>0</IsDefault>
</PluginInfo>